*
	box-sizing: border-box

header
	.header
		padding: 20px
		.logo
			width: 100%
	.contact-phones
		list-style-type: none
		padding: 0
		text-align: right
	.navbar
		padding: 0
		.navbar-nav
			.nav-item
				.nav-link
					padding: .8rem 2rem
					transition: all .3s ease
					color: #000
					&:hover
						background-color: #9b7923
						color: #fff

main
	.main-image
		height: 500px
		background-image: url('http://placehold.it/1440x700')
		background-position: center
		background-size: cover
		display: flex
		.contact-form
			width: 400px
			padding: 40px 20px
			.form-control
				margin-bottom: 10px