* {
  box-sizing: border-box; }

header .header {
  padding: 20px; }
  header .header .logo {
    width: 100%; }

header .contact-phones {
  list-style-type: none;
  padding: 0;
  text-align: right; }

header .navbar {
  padding: 0; }
  header .navbar .navbar-nav .nav-item .nav-link {
    padding: .8rem 2rem;
    transition: all .3s ease;
    color: #000; }
    header .navbar .navbar-nav .nav-item .nav-link:hover {
      background-color: #9b7923;
      color: #fff; }

main .main-image {
  padding: 20px;
  height: 500px;
  background-image: url("http://placehold.it/1440x700");
  background-position: center;
  background-size: cover;
  display: flex; }
  main .main-image .contact-form {
    width: 400px;
    padding: 40px 20px; }
    main .main-image .contact-form .form-control {
      margin-bottom: 10px; }

main .section {
  padding: 80px 0px; }
  main .section .title {
    font-size: 2rem;
    margin-bottom: 50px; }
  main .section .service {
    margin-bottom: 10px; }
    main .section .service .icon {
      margin-bottom: 30px;
      background: rgba(128, 128, 128, 0.2);
      width: 120px;
      height: 120px;
      margin: 0 auto 20px;
      text-align: center;
      line-height: 120px;
      border-radius: 50%;
      position: relative; }
      main .section .service .icon:before {
        content: '';
        display: block;
        width: 110px;
        height: 110px;
        border: 5px solid #dc3545;
        border-radius: 50%;
        position: absolute;
        background-color: #dc3545;
        top: 5px;
        left: 5px; }
      main .section .service .icon .fa-container {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #fff;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8); }
  main .section .price-container .price-item {
    display: inline-block;
    font-size: 30px;
    padding: 10px 45px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #dc3545; }

main .title-container {
  text-align: center;
  margin-bottom: 30px; }
